<div class="container">
  <div class="row justify-content-center mt-4 mb-4">
    <div class="col-12 col-sm-8 col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center"><%= t('sign_up.title') %></h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "my-form" }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group mb-3">
              <%= f.label :email, class: "d-block text-center" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mx-auto", placeholder: t('sign_up.email_placeholder') %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :password, class: "d-block text-center" %>
              <div class="text-center">
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> <%= t('sign_up.minimum_characters') %> )</em>
                <% end %>
              </div>
              <%= f.password_field :password, autocomplete: "new-password", class: "form-control mx-auto", placeholder: t('sign_up.password_placeholder') %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :password_confirmation, class: "d-block text-center" %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control mx-auto", placeholder: t('sign_up.confirm_password_placeholder') %>
            </div>

            <div class="form-group text-center mb-4">
              <%= f.submit t('sign_up.submit_button'), class: "btn btn-primary" %>
            </div>
          <% end %>

          <div class="text-center">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
