<div class="container">
  <div class="row justify-content-center mt-4 mb-4">
    <div class="col-12 col-sm-8 col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center"><%= t('forgot_password.title') %></h2>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "my-form" }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group mb-3">
              <%= f.label :email, class: "d-block text-center" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mx-auto", placeholder: t('forgot_password.email_placeholder') %>
            </div>

            <div class="form-group text-center mb-4">
              <%= f.submit t('forgot_password.send_instructions_button'), class: "btn btn-primary" %>
            </div>
          <% end %>

          <div class="text-center">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>