<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img class="rounded-circle" src="https://picsum.photos/50">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/"><%= t('navbar.home') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/films"><%= t('navbar.all_films') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><%= t('navbar.other_option') %></a>
        </li>
      </ul>
      <div class="d-flex">
        <%= form_tag(search_path, method: :get, class: "d-flex") do %>
          <div class="input-group align-items-center">
            <%= text_field_tag(:query, nil, class: "form-control rounded-start with-icon", placeholder: t('navbar.search_placeholder')) %>
            <span class="input-group-text">
              <%= button_tag(type: :submit, class: "btn btn-primary search-btn") do %>
                <i class="fas fa-search"></i>
              <% end %>
            </span>
          </div>
        <% end %>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to(t('navbar.sign_out'), destroy_user_session_path, method: :delete, class: "nav-link") %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to('en', url_for(locale: :en), class: 'nav-link') %>
        </li>
        <li class="nav-item">
          <%= link_to('uk', url_for(locale: :uk), class: 'nav-link') %>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="col-md-12 mt-2">
  <div class="d-flex flex-wrap">
    <% @random_films.each do |film| %>
      <div class="col-md-2 p-0">
        <%= link_to film_path(film) do %>
          <div class="card border-0 rounded-0">
            <% if film.image.attached? %>
              <%= image_tag rails_blob_path(film.image), class: "card-img random-posters-image border-0 rounded-0", alt: "Random Movie Poster" %>
            <% else %>
              <div class="card-img">No Image</div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="container mt-5">
  <h2 class="text-center mb-4 fw-bold"><%= t('latest_updates_title') %></h2>
  <div class="row">
    <% @films.each do |film| %>
      <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
        <%= link_to film_path(film) do %>
          <div class="card">
            <% if film.image.attached? %>
              <%= image_tag rails_blob_path(film.image), class: "card-img-top img-fluid latest-updates-image", alt: film.title %>
            <% else %>
              <div class="card-img-top img-height">No Image</div>
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= film.title %></h5>
              <p class="card-text"><%= film.year %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="container mt-5">
  <div class="text-center mb-4">
    <i class="fas fa-coffee fa-2x text-dark"></i>
    <h2 class="fw-bold"><%= t('news_feed_title') %></h2>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card border-0 shadow mb-4">
        <div class="card-body">
          <h5 class="card-title">Exciting Announcement about "The Matrix"</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tristique justo nec risus finibus, vel consequat libero consectetur. Cras lobortis lacus sit amet elit malesuada, in vulputate ex tempor. Duis et velit gravida, malesuada risus at, fermentum magna.</p>
          <p class="card-text"><small class="text-muted">Published on April 23, 2024</small></p>
        </div>
      </div>
      <div class="card border-0 shadow mb-4">
        <div class="card-body">
          <h5 class="card-title">Breaking News: New Trailer for "Star Wars: Episode X"</h5>
          <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <p class="card-text"><small class="text-muted">Published on April 22, 2024</small></p>
        </div>
      </div>
      <div class="card border-0 shadow mb-4">
        <div class="card-body">
          <h5 class="card-title">Exclusive Interview with Director of "Inception"</h5>
          <p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
          <p class="card-text"><small class="text-muted">Published on April 21, 2024</small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="height: 10vh;"></div>

<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="fw-bold fs-5 text-white"><%= t('footer.newsletter.title') %></h5>
        <p class="mb-0 fs-5 text-white"><%= t('footer.newsletter.subscribe_prompt') %></p>
        <div class="input-group mb-3 mt-3">
          <input type="text" class="form-control fs-5" placeholder="<%= t('footer.newsletter.email_placeholder') %>" aria-label="<%= t('footer.newsletter.email_placeholder') %>" aria-describedby="basic-addon2">
        </div>
      </div>
      <div class="col-md-4 text-center">
        <h5 class="fw-bold fs-5 text-white"><%= t('footer.genres.title') %></h5>
        <div class="row">
          <div class="col-sm-6">
            <ul class="list-unstyled fs-5">
              <li><%= t('footer.genres.action') %></li>
              <li><%= t('footer.genres.adventure') %></li>
              <li><%= t('footer.genres.animation') %></li>
              <li><%= t('footer.genres.biography') %></li>
              <li><%= t('footer.genres.comedy') %></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="list-unstyled fs-5">
              <li><%= t('footer.genres.crime') %></li>
              <li><%= t('footer.genres.documentary') %></li>
              <li><%= t('footer.genres.drama') %></li>
              <li><%= t('footer.genres.family') %></li>
              <li><%= t('footer.genres.fantasy') %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-md-end">
        <h5 class="fw-bold fs-5 text-white mx-3"><%= t('footer.socials.title') %></h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none fs-4"><i class="fab fa-youtube"></i> <%= t('footer.socials.youtube') %></a></li>
          <li><a href="#" class="text-white text-decoration-none fs-4"><i class="fab fa-twitch"></i> <%= t('footer.socials.twitch') %></a></li>
          <li><a href="#" class="text-white text-decoration-none fs-4"><i class="fab fa-telegram"></i> <%= t('footer.socials.telegram') %></a></li>
        </ul>
      </div>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col-md-6 order-md-2 text-md-end">
        <p class="mb-0 fs-5 text-white"><%= t('footer.copyright') %></p>
      </div>
      <div class="col-md-6 order-md-1 text-md-start">
        <p class="mb-0 fs-5"><a href="#" class="fs-5 text-white"><%= t('footer.about') %></a> | <a href="/films" class="fs-5 text-white"><%= t('footer.all_films') %></a></p>
      </div>
    </div>
  </div>
</footer>
