<div class="container">
  <div class="row justify-content-center mt-4 mb-4">
    <div class="col-12 col-sm-8 col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center"><%= t('login.title') %></h2>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "my-form" }) do |f| %>
            <div class="form-group mb-3">
              <%= f.label :email, class: "d-block text-center" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mx-auto", placeholder: t('login.email_label') %>
            </div>

            <div class="form-group mb-3">
              <%= f.label :password, class: "d-block text-center" %>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control mx-auto", placeholder: t('login.password_label') %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="form-group mb-3">
                <div class="form-check d-flex justify-content-center align-items-center">
                  <%= f.check_box :remember_me, class: "form-check-input" %>
                  <%= f.label :remember_me, class: "form-check-label ms-2 mb-0", text: t('login.remember_me_label') %>
                </div>
              </div>
            <% end %>

            <div class="form-group text-center mb-4">
              <%= f.submit t('login.login_button'), class: "btn btn-primary" %>
            </div>
          <% end %>

          <div class="text-center">
            <%= link_to t('login.forgot_password_link'), new_password_path(resource_name), class: "d-block mb-2" %>
            <%= link_to t('login.sign_up_link'), new_registration_path(resource_name), class: "d-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>